[color]
	ui = true
[completion]
	commands = -gitk
[fetch]
	prune = true
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = pablospizzamiglio
	email = spizzamiglio.pablo@gmail.com
	signingKey = /home/pablo/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg "ssh"]
	allowedSignersFile = /home/pablo/.ssh/allowed_signers
