@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /* padding-left: 0.5em; */
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#tray,
#memory,
#temperature,
#wireplumber,
#battery,
#backlight,
#network,
#bluetooth {
    padding-right: 1em 
}

